@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 5rem;
}

.container-card {
  display: grid;
  grid-auto-rows: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 7rem;
  place-items: center;

}

.customCard:focus-within {
  border: 1px solid rgb(84, 234, 84);
}


/* .textField .MuiOutlinedInput-notchedOutline{
  border: none !important;
} */